
body{
    height:100vh;
    background-color:#F9F9F8;
    background:url("/images/background.jpg");
    background-size:cover;
    background-repeat:no-repeat;

    font-family: 'spartan';
    overflow:hidden;
}
h1{
    font-size:70px;
    color:#A09E9B;
}
.container {
    height:100%;
    display:flex;
    margin-top:5%;
    align-items:center;
    flex-direction:column;
    
    
}
.scroll{
   overflow:auto;
   height:90vh;
}
a{
    color:#A09E9B;
    
}
a:hover{
    color:#A09E9B;
    text-decoration-style:dotted;
}
li{
    transition:0.3s;
    opacity:0.8;
}
li:hover{
    background-color:#A09E9B;
}
input[type="text"]{
    background:none;
    border:none;
    border-bottom:1px solid;
}


.btn{
    margin-top:50px;
    border:none;
    border-bottom:1px solid;
    border-top:1px solid;
    width:400px;
    height:100px;
    transition:0.5s;
    background:none;
    font-size:50px;
    font-weight:lighter;
    
}

.btn:hover{

    background-color:rgba(187, 185, 181, 0.432);
}
